<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>
<hr />
<h3>Notes</h3>

<%= render @book.notes %>

<%= render "/notes/form" %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
